<h1>Welcome to Learndit</h1>
<br/>
<h3><strong>search for code snippets</strong></h3><br/>
<h3><strong>add your own</strong></h3><br/>
<h3><strong>vote</strong></h3></br><br/>
<h5>With each code snippet that you create use a passphrase that you will remember in case you want to edit it later.
 Then, click the toolbox icon to edit the snippet using your passphrase.</h5>
<br/><br/>

<%= link_to 'Snips', codes_path %>